<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="/src/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans TC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla One' rel='stylesheet'>
</head>

<body>
    <div id="app">
        <div v-show="alert.open" class="alert">
            <div class="content flexColumn">
                <h3>{{alert.text}}</h3>
                <div class="e-btn" @click="playSound()">OK</div>
            </div>
        </div>
        <div v-show="settings" class="alert">
            <div class="settings flexColumn">
                <h3>工作名稱
                    <input type="text">
                </h3>
                <h3>工作時間
                    <span><label for="">
                        <input type="text">分</label></span>
                    <span><label for="">
                        <input type="text">秒</label></span>
                </h3>
                <h3>休息時間
                    <span><label for="">
                        <input type="text">分</label></span>
                    <span><label for="">
                        <input type="text">秒</label></span>
                </h3>
                <h3>工作日期
                    <span><label for="">
                        <input type="text">年</label></span>
                    <span><label for="">
                        <input type="text">月</label></span>
                    <span><label for="">
                        <input type="text">日</label></span>
                </h3>
                <h3>重複次數
                    <input type="text">次
                </h3>
                <h3>鈴聲
                    <input type="radio">Crazy dinner bell
                    <input type="radio">123
                </h3>
            </div>
        </div>
        <div class="header">
            <div class="date">
                <span>2020.05.26</span>
                <span>星期二 {{nowTime}}</span>
            </div>
        </div>
        <div class="drawer" :class="(drawerOpen)?'drawerOpen ':' '">
            <div class="navbar flexColumn">
                <div :class="(nowDrawerContent==='todoList ')?'nowNavbar ':' '" @click="toggleDrawer('todoList ')">
                    <img src="/src/img/icon-list.svg" alt="TodoList">
                </div>
                <div :class="(nowDrawerContent==='analysis ')?'nowNavbar ':' '" @click="toggleDrawer('analysis ')">
                    <img src="/src/img/icon-analysis.svg" alt="Analysis">
                </div>
            </div>
            <div class="content">
                <div class="todoList" v-show="drawerContent==='todoList '">
                    <div class="title">代辦清單</div>
                    <p :class="(doneTodoList)?' ':'fade '" @click="toggleDoneTodoList(true)">已完成</p>
                    <p :class="(doneTodoList)?'fade ':' '" @click="toggleDoneTodoList(false)">進行中</p>
                    <div class="addList">
                        <input v-model="inputValue" type="text" placeholder="新增代辦事項">
                        <div class="e-btn" @click="addList()">＋</div>
                    </div>
                    <hr>
                    <template v-for="item in filterTodoData">
                        <div class="listItem" :class="(doneTodoList)?'done ':' '">
                            <div class="e-btn">
                                <div class="tick">✔</div>
                            </div>
                            <span>{{item.tittle}}</span>
                            <div class="editBtn"><img src="/src/img/icon-edit.svg" alt=""></div>
                            <div class="editBtn"><img src="/src/img/icon-delete.svg" alt=""></div>
                            <div class="e-timeLength">
                                <div v-for="(circle,index) in item.times" class="circle" :key="`circle${index}`"></div>
                            </div>
                        </div>
                        <hr>
                    </template>
                </div>
                <div class="analysis" v-show="drawerContent==='analysis '">
                    <div class="title">專注度分析</div>
                    <div class="flexCenter">
                        <div class="data">
                            <p>今日
                                <span>2020.05.20</span></p>
                            <div class="num">9
                                <div class="text">代辦事項</div>
                            </div>
                            <div class="num">7
                                <div class="text">已完成</div>
                            </div>

                        </div>
                        <div class="data">
                            <p>本週</p>
                            <div class="num">54
                                <div class="text">代辦事項</div>
                            </div>
                            <div class="num">48
                                <div class="text">已完成</div>
                            </div>
                        </div>
                    </div>
                    <div class=" flexColumn">
                        <div class="thisWeek">
                            <div><img src="/src/img/icon-arrow--prev.svg" alt=""></div>
                            <div>2020.05.25 ~ 2020.05.31</div>
                            <div><img src="/src/img/icon-arrow--next.svg" alt=""></div>
                        </div>
                        <div class="diagram flexCenter">
                            <div class="amount flexColumn">
                                <div v-for="(n,index) in 8">{{2*index}}</div>
                            </div>
                            <div class="dateGraph flexCenter">
                                <div class="graph flexCenter" :class="(index===1)?'nowDay ':' '" v-for="(n,index) in 7">5/{{25+index}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="index flexCenter" :class="(drawerOpen)?'drawerOpen ':' '">
            <div class="timer">
                <div class="time">{{nowTimer[0]}}:{{nowTimer[1]}}</div>
                <div class="buttons flexCenter">
                    <div class="e-btn" :class="(bell.open)?' ':'noBell '" @click="toggleBell()">
                        <img src="/src/img/icon-bell.svg" alt="">
                    </div>
                    <div class="e-btn play" @click="timerControl()">
                        <img v-show="working" :src="(time.start)?'/src/img/icon-pause--orange.svg ':'/src/img/icon-play--orange.svg '" alt="">
                        <img v-show="!working" :src="(time.start)?'/src/img/icon-pause--green.svg ':'/src/img/icon-play--green.svg '" alt="">
                    </div>
                    <div class="e-btn" @click="cancelTimer()">
                        <img src="/src/img/icon-cancel.svg" alt="">
                    </div>
                </div>
            </div>
            <ul class="lists">
                <li :class="(nowItem===list.tittle)?'nowItem ':' '" v-for="list in filterDoingTodoData" :key="`index_${list.tittle}`" @click="toggleItem(list.tittle)">
                    <div class="e-btn"></div>
                    <span>{{list.tittle}}</span>
                    <div class="e-timeLength">
                        <div v-for="circle in list.times" class="circle"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tomato " :class="(drawerOpen)?'drawerOpen ':' '">
            <img :src="(working)?'/src/img/tomato--orange.svg ':'/src/img/tomato--green.svg '" alt="">
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/src/all.js"></script>
</body>

</html>