<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="/src/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans TC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla One' rel='stylesheet'>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="date">
                <span>2019.07.13</span>
                <span>星期六 13:38</span>
            </div>
        </div>
        <div class="drawer" :class="(drawerOpen)?'drawerOpen':''">
            <div class="navbar flexColumn">
                <div :class="(nowDrawerContent==='todoList')?'nowNavbar':''" @click="toggleDrawer('todoList')">
                    <img src="/src/img/icon-list.svg" alt="TodoList">
                </div>
                <div :class="(nowDrawerContent==='analysis')?'nowNavbar':''" @click="toggleDrawer('analysis')">
                    <img src="/src/img/icon-analysis.svg" alt="Analysis">
                </div>
            </div>
            <div class="content">
                <div class="todoList" v-show="drawerContent==='todoList'">
                    <div class="title">代辦清單</div>
                    <p class="fade">已完成</p>
                    <p>進行中</p>
                    <div class="addList">
                        <input type="text" placeholder="新增代辦事項">
                        <div class="e-btn">＋</div>
                    </div>
                    <hr>
                    <div class="listItem done">
                        <div class="e-btn">
                            <div class="tick">✔</div>
                        </div>
                        <span>學習 Javascript</span>
                        <div class="editBtn"><img src="/src/img/icon-edit.svg" alt=""></div>
                        <div class="editBtn"><img src="/src/img/icon-delete.svg" alt=""></div>
                        <div class="e-timeLength">
                            <div v-for="circle in 5" class="circle"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="listItem">
                        <div class="e-btn">
                            <div class="tick">✔</div>
                        </div>
                        <span>學習 Javascript</span>
                        <div class="editBtn"><img src="/src/img/icon-edit.svg" alt=""></div>
                        <div class="editBtn"><img src="/src/img/icon-delete.svg" alt=""></div>
                        <div class="e-timeLength">
                            <div v-for="circle in 5" class="circle"></div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="analysis" v-show="drawerContent==='analysis'">
                    <div class="title">專注度分析</div>
                    <div class="flexCenter">
                        <div class="data">
                            <p>今日
                                <span>2020.05.20</span></p>
                            <div class="num">9
                                <div class="text">代辦事項</div>
                            </div>
                            <div class="num">7
                                <div class="text">已完成</div>
                            </div>

                        </div>
                        <div class="data">
                            <p>本週</p>
                            <div class="num">54
                                <div class="text">代辦事項</div>
                            </div>
                            <div class="num">48
                                <div class="text">已完成</div>
                            </div>
                        </div>
                    </div>
                    <div class=" flexColumn">
                        <div class="thisWeek">
                            <div><img src="/src/img/icon-arrow--prev.svg" alt=""></div>
                            <div>2020.05.17~2020.05.23</div>
                            <div><img src="/src/img/icon-arrow--next.svg" alt=""></div>
                        </div>
                        <div class="diagram flexCenter">
                            <div class="amount flexColumn">
                                <div v-for="(n,index) in 8">{{2*index}}</div>
                            </div>
                            <div class="dateGraph flexCenter">
                                <div class="graph flexCenter">7/7</div>
                                <div class="graph flexCenter">7/8</div>
                                <div class="graph flexCenter">7/9</div>
                                <div class="graph flexCenter">7/10</div>
                                <div class="graph flexCenter">7/11</div>
                                <div class="graph flexCenter">7/12</div>
                                <div class="graph flexCenter nowDay">7/13</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="index flexCenter" :class="(drawerOpen)?'drawerOpen':''">
            <div class="timer">
                <div class="time">{{nowTimer[0]}}:{{nowTimer[1]}}</div>
                <div class="buttons flexCenter">
                    <div class="e-btn" :class="(bell)?'':'noBell'" @click="toggleBell()">
                        <img src="/src/img/icon-bell.svg" alt="">
                    </div>
                    <div class="e-btn play" @click="timerControl()">
                        <img v-show="working" :src="(time.start)?'/src/img/icon-pause--orange.svg':'/src/img/icon-play--orange.svg'" alt="">
                        <img v-show="!working" :src="(time.start)?'/src/img/icon-pause--green.svg':'/src/img/icon-play--green.svg'" alt="">
                    </div>
                    <div class="e-btn" @click="cancelTimer()">
                        <img src="/src/img/icon-cancel.svg" alt="">
                    </div>
                </div>
            </div>
            <ul class="lists">
                <li class="nowItem">
                    <div class="e-btn"></div>
                    <span>構思番茄鐘UI介面</span>
                    <div class="e-timeLength">
                        <div v-for="circle in 5" class="circle"></div>
                    </div>
                </li>
                <li>
                    <div class="e-btn"></div>
                    <span>學習 Javascript</span>
                </li>
                <li>
                    <div class="e-btn"></div>
                    <span>學習網頁切版</span>
                </li>
                <li>
                    <div class="e-btn"></div>
                    <span>設計番茄鐘 UI 介面</span>
                </li>
            </ul>
        </div>
        <div class="tomato " :class="(drawerOpen)?'drawerOpen':''">
            <img :src="(working)?'/src/img/tomato--orange.svg':'/src/img/tomato--green.svg'" alt="">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/src/all.js"></script>
</body>

</html>